<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/nav.ejs") %>
    <!-- appending equals escapes special characters and we end up with string values instead of raw HTML -->
    <!-- appending minus/hyphen doesn't do that  -->

    <div class="blog-content">
      <h2>All Blogs</h2>

      <!-- embed dynamic content using ejs templates -->
      <% if(blogs.length > 0) { %> <% blogs.forEach((blog) => { %>
      <h3 class="title"><%= blog.title%></h3>
      <p class="snippet"><%= blog.snippet%></p>
      <% })%> <% } else { %>
      <p>There are no blogs to display</p>
      <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
